footer.footer
	nav.nav.footer__nav_mods
		.container
			.logo
				figure.logo__wrap
					a.logo__link(href="#")
						img.logo__pic(src="assets/img/logo.png")

			.nav__menu.footer__nav-menu_mods
				- var menu = ["home", "catalog", "news", "sale", "about", "contact"]
				ul.menu
					each item in menu
						li(class="menu__item")
							a(href="#" class="menu__link footer__menu-link_mods") #{item}

			.copyright
				span.copyright__text &copy;2010 - 2016 All rights reserved