header.header
	.header__top
		.container
			- var items = ["delivery", "faq", "help"]
			ul.header__top-menu
				each item in items 
					li.header__top-menu-item
						a.header__top-menu-link(href="#") #{item}

			- var lang = ["en", "rus", "ua"]
			ul.header__top-lang
				each item in lang
					li.header__top-lang-item
						a.header__top-lang-link(href="#") #{item}

			- var money = ["dollars", "russian rubles", "ukrainian hryvnia"]
			ul.header__top-money
				each item in money
					li.header__top-money-item
						a.header__top-money-link(href="#") #{item}

	nav.nav
		.container
			.logo
				figure.logo__wrap
					a.logo__link(href="#")
						img.logo__pic(src="assets/img/logo.png")

			.nav__menu
				- var menu = ["home", "catalog", "news", "sale", "about", "contact"]
				ul.menu
					each item in menu
						li(class="menu__item" + ((item == "catalog") ? ' ' + 'active' : ''))
							a(href="#" class="menu__link" + ((item == "sale") ? ' ' + 'nav__menu-link_mods' : '')) #{item}

			.user-tools
				.user-tools__bag
					span.user-tools__bag-text your bag
					a.user-tools__bag-count(href="#" data-count="2")
				.user-tools__search
					figure.user-tools__search-wrap
						a.user-tools__search-link(href="#")
							img.user-tools__search-pic(src="assets/img/search.png")
					.form-wrap.header__form-wrap_mods
						form#search(method="post", action="/send")
							.form__input-item
								label.form__label(for="search") search
								input.form__input.header__form-input_mods(type="text", placeholder="Search", id="search", name="search")
							.form__btn-wrap
								input.form__btn(type="submit", value="", form="search")
