.header {
	margin-bottom: 100px;
}

.header__top {
	padding: 15px 0;
	border-bottom: 1px solid #ededed;
}

.header__top-menu {
	float: left;

	&-item {
		margin-right: 35px;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
	}

	&-link {
		font-weight: bold;
		color: rgba(51, 51, 51, 0.45);
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			color: $black;
		}
	}
}

.header__top-money, .header__top-lang {
	float: right;
}

.header__top-money-link {
	@extend .header__top-menu-link;
}

.header__top-lang-link {
	@extend .header__top-menu-link;
}