.nav {
	padding: 25px 0;
	border-bottom: 1px solid #ededed;
}

// logo ***************************************** //

.logo {
	float: left;

	&__wrap {
		margin: 0;
	}
}

// nav-menu ************************************* //

.nav__menu {
	width: 50%;
	margin-left: 188px;
	padding: 18px 0;
	float: left;
}

.menu {

	&__item {
		margin-right: 53px;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}

		&.active .menu__link {
			color: $black;

			&:after, &:before {
				width: 50%;
			}
		}
	}

	&__link {
		color: rgba(51, 51, 51, 0.45);
		font-size: 13px;
		font-weight: 900;
		text-transform: uppercase;
		text-decoration: none;
		position: relative;

		&:hover {
			color: $black;
		}

		&:hover.menu__link:before,
		&:hover.menu__link:after {
			width: 50%;
		}

		&:before, &:after {
			display: block;
			content: "";
			width: 0%;
			height: 2px;
			background: #1476d4;
			position: absolute;
			bottom: -7px;
			transition: all .3s;
		}

		&:before {
			right: 50%;
		}

		&:after {
			left: 50%;
		}
	}
}

.nav__menu-link_mods {
	color: #fc411d;
}

// user-tools ****************************************** //

.user-tools {
	float: right;
	@include clearfix;

	&__bag {
		float: left;
		@include clearfix;

		&-text {
			margin: 19px 16px 0 0;
			color: rgba(51, 51, 51, 0.45);
			font-weight: 700;
			text-transform: uppercase;
			display: block;
			float: left;
		}

		&-count {
			width: 50px;
			height: 50px;
			border: 2px solid #1476d4;
			border-radius: 50%;
			color: $black;
			text-decoration: none;
			display: block;
			float: left;
			position: relative;

			&:hover,
			&:hover.user-tools__bag-count:after {
				color: #fff;
				background: #1476d4;
			}

			&:after {
				display: block;
				content: attr(data-count);
				width: 10px;
				height: 10px;
				margin: auto;
				font-weight: 700;
				color: #333;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
	}

	&__search {
		float: left;
		position: relative;
		width: 40px;
		height: 40px;
		padding: 10px 0 0 10px;
	}
}

.user-tools__search-wrap {
	width: 100%;
	height: 100%;
	margin: 0;
}

.user-tools__search-link {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.user-tools__search-pic {
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// FORM *********************************************** /

.form-wrap {
	width: 300px;
	display: inline-block;
	position: relative;
}

.form__label {
	display: none;
}

.form__input {
	width: 100%;
	padding: 15px 45px 15px 25px;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
	background: none;
	border: 2px solid white;
	border-radius: 50px;
	outline: none;

	@include placecolor($color:#fff);
}

.form__btn-wrap {
	position: absolute;
	top: 0;
	right: 0;
}

.form__btn {
	width: 55px;
	height: 54px;
	background: url(../img/arrow.png) no-repeat center center;
	border: none;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	cursor: pointer;
	transition: all .3s;

	&:hover {
		background-color: fade-out(#fff, .5);
	}
}

.header__form-wrap_mods {
	position: absolute;
	top: 40px;
	right: 0px;
}

.header__form-input_mods {
	background: #535353;
	border: 2px solid #1476d4;
	border-radius: 50px;
	outline: none;
}