.subscribe {
	padding: 67px 0;
	text-align: center;
	background: #1a80d7 url(../img/subscribe-bg.jpg) no-repeat top left;
	background-size: cover;
}

.subtitle {
	color: rgba(51, 51, 51, 0.61);
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.title {
	margin: 20px 0 27px 0;
	font: 400 38px/38px $ffP;
	color: #fff;
}